- name: Install nginx
  ansible.builtin.yum:
        name: nginx
        state: latest

- name: Make sure a service unit is running
  ansible.builtin.systemd:
      state: started
      name: nginx
      enabled: yes
