- name: Install nginx
  ansible.builtin.yum:
        name: nginx
        state: latest

- name: Start nginx
  ansible.builtin.service:
         name: nginx
         state: started
         enabled: yes
