- name: install Nginx
  hosts: all
  become: true
  tasks:
    - name: Install nginx
      ansible.builtin.yum:
        name: httpd
        state: latest

    - name: Start nginx
      ansible.builtin.service:
        name: httpd
        state: started
        enabled: yes
